/* City & Guilds-inspired color scheme */
body {
    background-color: #f0f0f5;
}
header {
    background-color: #1a237e;
}
button {
    background-color: #3949ab;
}
button:hover {
    background-color: #303f9f;
}
#timer {
    color: #d32f2f;
}
